
body {
    background-color: black;
  }
  
  #board {
    width: 440px;
    height: 440px;
    border: 1px solid white;
    background-color: black;
    position: relative;
    left: 30%
  }
  
  #snake {
    background-color: white;
    width: 15px;
    height: 15px;
    position: absolute;
  }

  #apple {
    background-color: red;
    width: 15px;
    height: 15px;
    position: absolute;
  }