
body {
    background-color: black;
  }
  
  #board {
    width: 800px;
    height: 800px;
    /*border: 1px solid white;*/
    background-color: black;
    position: relative;
    left: 30%;
     background-image: url("checker.png");

  }
  
  .snake , #snake {
    background-color: green;
    width: 20px;
    height: 20px;
    position: absolute;
  }

  #apple {
    background-color: red;
    width: 20px;
    height: 20px;
    position: absolute;
  }

  .grid {
    width: 800px;
    height: 800px;
    border: 1px solid white;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
  
  .grid div {
    width: 20px;
    height: 20px;
    border:1px white solid;
    box-sizing:border-box
  }