
body {
    background-color: slategrey;
  }
  
  #board {
    width: 750px;
    height: 500px;
    border: 1px solid white;
    background-color: black;
    position: relative;
  }
  
  #paddleLeft {
    background-color: white;
    width: 15px;
    height: 60px;
    position: absolute;
  /*   left: 100px; */  /* Uncomment if you want to set a "starting" position */
  /*   top: 100px;  */  /* Uncomment if you want to set a "starting" position */
  }
  
  #paddleRight {
    background-color: white;
    width: 15px;
    height: 60px;
    position: absolute;
  /*   left: 100px; */  /* Uncomment if you want to set a "starting" position */
  /*   top: 100px;  */  /* Uncomment if you want to set a "starting" position */
  }

  #box {
    width: 15px;
    height: 15px;
    background-color: white;
    display: block;
    position: absolute;
  }
  