
body {
    background-color: slategrey;
  }
  
  #board {
    width: 440px;
    height: 440px;
    border: 1px solid white;
    background-color: black;
    position: relative;
    left: 30%
  }
  
  #paddleLeft {
    background-color: white;
    width: 3%;
    height: 12%;
    position: absolute;
  /*   left: 100px; */  /* Uncomment if you want to set a "starting" position */
  /*   top: 100px;  */  /* Uncomment if you want to set a "starting" position */
  }
  
  #paddleRight {
    background-color: white;
    width: 3%;
    height: 12%;
    position: absolute;
  /*   left: 100px; */  /* Uncomment if you want to set a "starting" position */
  /*   top: 100px;  */  /* Uncomment if you want to set a "starting" position */
  }

  #box {
    width: 3%;
    height: 3%;
    background-color: white;
    display: block;
    position: absolute;
  }
  