
body {
    background-color: whitesmoke;
  }
  
  #board {
    width: 750px;
    height: 500px;
    border: 1px solid white;
    background-image: url("background.png");
    position: relative;
    left: 17.5vw; 
  }
  
  #paddleLeft {
    background-color: white;
    width: 15px;
    height: 60px;
    position: absolute;
  /*   left: 100px; */  /* Uncomment if you want to set a "starting" position */
  /*   top: 100px;  */  /* Uncomment if you want to set a "starting" position */
  }
  
  #paddleRight {
    background-color: white;
    width: 15px;
    height: 60px;
    position: absolute;
  /*   left: 100px; */  /* Uncomment if you want to set a "starting" position */
  /*   top: 100px;  */  /* Uncomment if you want to set a "starting" position */
  }

  #box {
    width: 15px;
    height: 15px;
    background-color: rgb(255, 255, 255);
    display: block;
    position: absolute;
  }
  
  #scorePaddleLeft {
    left: 225px;
    top: 50px;
    font-size: 6vw;
    font-family: 'VT323', monospace;
    color: white;
    position: absolute;
    
  }
  
  #scorePaddleRight {
    right: 225px;
    top: 50px;
    font-size: 6vw;
    font-family: 'VT323', monospace;
    color: white;
    position: absolute;
    
  }
  #namePaddleLeft {
    left: 5%;
    top: 5%;
    font-size: 3vw;
    font-family: 'VT323', monospace;
    color: white;
    position: absolute;
    text-align: left; 
  }
  #namePaddleRight {
    left: 90%;
    top: 5%;
    font-size: 3vw;
    font-family: 'VT323', monospace;
    color: white;
    position: absolute;
    text-align: right; 
  }
  #streak {
    left: 225px;
    top: 25vw;
    color: red;
    position: absolute; 
    font-size: 4vw;
    font-family: 'VT323', monospace;
    text-align: center;

  }